@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './utlilities.css';
@import './variables.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern";
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
}
::selection{
  background-color: var(--selection);
  color: #fff;
}
#navigationBar{
  padding: 20px 40px 20px 100px;
  background: var(--primary);
  border-bottom: unset;
  backdrop-filter: saturate(180%) blur(2px);
  background: hsla(0,0%,100%,.8);
  min-height: 11vh;
  background-size: cover;
  overflow: hidden;
/*   position: absolute; */
  top: 0;
  z-index: 3000;
  display: grid;
  font-size: 1.2em;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  user-select: none;
  transition: all 0.3s ease;
}
nav h1 {
  color: var(--dark);
}
.header_sticky nav h5 {
  margin-left: 60em;
  margin-right: -20em;
  color: var(--ternary);
  text-decoration: inherit;
  
}
.sticky {
  position: fixed;
/*   top: 0; */
  width: 100%;
  transition: all 0.3s ease;
}

.site-main-wrapper{
  position: relative;
}
.hamburger{
  z-index: 11;
  margin-left: 35em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.hamburger img{
  width: 30px;
}
section.strip{
  display: flex;
  font-size: 5em;
  user-select: none;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background: center / contain no-repeat url("iridescent.jpg"), #eee 35% url("iridescent.jpg");
  transition: all 0.3s ease;
}
/* section.margin {
  margin-top: 0.9em;
} */
section.month {
  padding-top: 100px;
  padding-left: 10rem;
  color: #000;
  height: 100%;
  padding-bottom: 6em;
  background: #e7e4e4;
}

section.month h3 {
  font-size: 4em;
  user-select: none;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.addButton {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.addButton span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.addButton:before,
.addButton:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.addButton:before{
   height: 0%;
   width: 2px;
}
.addButton:after {
  width: 0%;
  height: 2px;
}
.addButton:hover:before {
  height: 100%;
}
.addButton:hover:after {
  width: 100%;
}
.addButton:hover{
  background: transparent;
}
.addButton span:hover{
  color: #c797eb;
}
.addButton span:before,
.addButton span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.addButton span:before {
  width: 2px;
  height: 0%;
}
.addButton span:after {
  height: 2px;
  width: 0%;
}
.addButton span:hover:before {
  height: 100%;
}
.addButton span:hover:after {
  width: 100%;
}
/*        
.months {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 45em;
  top: 0;
  margin: 1em;
  margin-left: 0em;
  padding: 1em 2em 1em 3em;
  border: 0 solid #b7b7b7;
  border-bottom: 3px solid rgba(176,172,191,1);
  -webkit-border-radius: 0 0 17px 17px;
  border-radius: 0 0 17px 17px;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 0.5em 0.5em 1em 0 rgba(0,0,0,0.2) ;
  box-shadow: 0.5em 0.5em 1em 0 rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}*/


.months {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 50em;
  top: 0;
  margin: 1em;
  margin-left: 0em;
  padding: 1em 2em 1em 3em;
  border: 0 solid #b7b7b7;
  border-bottom: 3px solid rgba(168,155,221,1);
  -webkit-border-radius: 0 0 17px 17px;
  border-radius: 5px 5px 17px 17px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0.5em 0.5em 1em 0 rgba(188,183,183,1) ;
  box-shadow: 0.5em 0.5em 1em 0 rgba(188,183,183,1) ;
  text-shadow: 8px 4px 8px rgba(234,227,227,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* BREAK  HERE OF MINIMUM 10 LINES FOR FUTURE CLASSES OF LIST */










footer {
    background: var(--dark);
    padding: 60px 0;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img {
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display : block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul {
    list-style-type: none;
}

footer li:nth-child(even) {
    margin: 10px 0;
}

footer ul li a {
    text-decoration: none;
    color: var(--mild);
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover{
    color: var(--pure);
}

footer .footer-socials a {
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild)
}

footer .footer-socials a:hover{
    color: var(--pure);
}

.copyright {
  padding-left: 3em;
  padding-top: 0;
}

/* END OF ACTUAL MY WEBSITE */
/* EXPERIMENT UP AHEAD, IF MESSES UP WITH ORIGINAL DELETE OR TRY TO CUSTOMIZE IT */


.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 1em 2em 1em 3em;
  font-size: 1.1rem;
  border: 0 solid #b7b7b7;
  border-bottom: 3px solid rgba(168,155,221,1);
  -webkit-border-radius: 0 0 17px 17px;
  border-radius: 5px 5px 17px 17px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0.5em 0.5em 1em 0 rgba(188,183,183,1) ;
  box-shadow: 0.5em 0.5em 1em 0 rgba(188,183,183,1) ;
  text-shadow: 8px 4px 8px rgba(234,227,227,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  max-width: 50em;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* item style end */

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

/* applied when the todo item is checked */
.checked { 
  text-decoration: line-through;
}

/* todo-items style ends */

/* container style ends */

/* MEDIA QUERIES STARTS HERE */
/* @media (min-width:576px){
  
}

@media screen and  (min-width:768px){
  .months {
    width: 24em;
  }
  h3 {
    font-size: 0.9em;
  }
  .item {
    max-width: 27em;
  }
  .header_sticky nav h5 {
    margin-left: 37em;
    font-size: 1em;
    margin-right: -41em;
    color: var(--ternary);
    text-decoration: inherit;
  
}
  section.month {
    padding-left: 5rem;
  }
  #navigationBar {
    font-size: 0.8em;
  }
  .copyright {
    padding-left: 4em;
  }
}

@media screen and (min-width:992px){
  .months {
    width: 37em;
  }
  .item {
    max-width: 38em;
  }
  .header_sticky nav h5 {
    margin-left: 48em;
    font-size: 1em;
    margin-right: -41em;
    color: var(--ternary);
    text-decoration: inherit;
  
}
  section.month {
    padding-left: 5rem;
  }
  #navigationBar {
    font-size: 0.8em;
  }
  .copyright {
    padding-left: 4em;
  }
}
@media screen and (min-width:1200px){
  section.month {
    padding-left: 5rem;
  }
  #navigationBar {
    font-size: 0.8em;
  }
  .copyright {
    padding-left: 4em;
  }
}


 */


