:root{
    --primary: #1E1E1E;
    --dark: #121212;
    --pure: #ffffff;
    --gray: #1D1D1D;
    --mild: #B9B8B8;
    --secondary: #070606;
    --ternary: #898989;
    --light: #f2f2f2;
    --selection: #0070f3;
}